<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @category.name %>
</h1>

<% @posts.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
  <p><%= post.body %></p>
<% end.empty? and begin %>
  <p>Sorry, there are no posts in this category</p>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
